<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bs/css/bootstrap.css">
</head>
<body>

<a href="/add_book/"><button class="btn btn-primary">添加书籍</button></a>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-hover">
    <tr>
       <th>书籍名称</th>
       <th>书籍价格</th>
       <th>书籍出版时间</th>
       <th>书籍出版名称</th>
       <th>操作</th>
    </tr>

    {% for book in book_list %}
     <tr>
         <td>{{ book.title }}</td>
         <td>{{ book.price }}</td>
         <td>{{ book.publishDate|date:'Y-m-d' }}</td>
         <td>{{ book.publish.name }}</td>
         <td><a href=""><button class="btn btn-danger">删除</button></a>
             <a href="/edit/{{ book.nid }}"><button class="btn btn-warning">编辑</button></a>
         </td>
     </tr>
    {% endfor %}


</table>
        </div>
    </div>
</div>


</body>
</html>