<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bs/css/bootstrap.css">
</head>
<body>
<div class="container ">
    <h1>编辑书籍</h1>
    <form action="/edit/{{ edit_book.nid }}" method="post">
        {% csrf_token %}
        <p>书名 <input type="text" name="title" class="form-control " value="{{ edit_book.title }}"></p>
        <p>价格 <input type="text" name="price" class="form-control " value="{{ edit_book.price }}"></p>
        <p>出版时间 <input type="date" name="pub_date" class="form-control "
                       value="{{ edit_book.publishDate|date:'Y-m-d' }}"></p>
        <p>出版社
            <select name="publish_id" id="" class="form-control ">
                {% for publish in publish_list %}
                    {% if publish == edit_book.publish %}
                        <option selected value="{{ publish.id }}">{{ publish.name }}</option>
                    {% else %}
                        <option value="{{ publish.id }}">{{ publish.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </p>
        <div class="col-lg-offset-11 ">
            <input type="submit" class="btn btn-primary ">
        </div>
    </form>
</div>
</body>
</html>